header {
	background:transparent url(img/im.jpg) no-repeat;
	padding-right:10px;
	font-family:helvitica;
	border-radius:6px;
}
header a {
	color:#55DE28;
	display:inline-block;
	-webkit-transition:color 1s;
}
header a:hover {
	color:white;
	-webkit-transform:rotate(5deg);
	text-decoration:none;
}
header h1, header h2 {
	font-size:22px;
	color:#55DE28;
	margin-left:10px;
}
input.phone {
	text-align:center;
}
body {
	background:transparent url(img/north.jpg) no-repeat;
	background-size:1680px;
}
h1, p, h2, label {
	color:white;
}
.form-horizontal .control-label {
	color:white;
}
td, th, tr {
	color:white;
}
td a {
	color:white;
}